{% extends 'base.html' %}
{% block title %}
    admin title
{% endblock %}
{% block content %}
    <form action="{{ url_for('admin.login') }}" method="post">
        {% with messages = get_flashed_messages(True) %}
            {% if messages %}
                <div class="row">
                    {% for message in messages %}

                    <div class="card {{ message[0] }}">{{ message[1] }}</div>
                    {% endfor %}
                </div>
{#                <ul class=flashes>#}
{#                    #}
{#                        <li>{</li>#}
{#                    #}
{#                </ul>#}
            {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        email:{{ form.email }}<br>
        password:{{ form.password }}<br>
        <input type="submit" value="send">
    </form>
{% endblock %}