<header>

    <a href="{{ url_for('admin.logout') }}" class="button"> loguot </a>
    <a href="{{ url_for('admin.list_posts') }}" class="button"> list posts </a>
    <a href="{{ url_for('admin.create_post') }}" class="button"> add new post </a>
    <a href="{{ url_for('admin.admin_index') }}" class="button">dashboard</a>
    <a href="{{ url_for('admin.list_users') }}" class="button">usre</a>
    <a href="{{ url_for('admin.get_create_user') }}" class="button">create user</a>
    <a href="{{ url_for('admin.create_category') }}" class="button">create category</a>
    <a href="{{ url_for('admin.list_categories') }}" class="button">category list</a>

</header>